<div class="alert alert-info" role="alert">
<br><div class="col-md-4 offset-md-4 ">
    <br><h2 style="text-align:center;"> Add a Book</h2><hr>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <i class="material-icons">book</i>&nbsp;
            <label> Book Name
                <span  class="required">
                    *
                 </span>
            </label>
            <input type="text" class ="form-control" id = "bookName"
                [(ngModel)] = "addbook.bookName" name = "bookName" placeholder="Enter a Book Name"
                data-toggle="tooltip" data-placement="bottom" title="Enter a Book Name">
        </div>
    
        <div class="form-group">
            <i class="material-icons ">insert_link</i>&nbsp;
            <label>Image
                <span  class="required">
                    *
                 </span>
            </label>
            <input type="text" class ="form-control" id = "image" 
                [(ngModel)] = "addbook.image" name = "image" placeholder="Enter a URL"
                data-toggle="tooltip" data-placement="bottom" title="Enter a URL">
        </div>

    
        <div class="form-group">
            <i class="material-icons">monetization_on</i>&nbsp;
            <label> Price
                <span  class="required">
                    *
                 </span>
            </label>
            <input type="text" class ="form-control" id = "price" 
                [(ngModel)] = "addbook.price" name = "price" placeholder="Enter a price"
                data-toggle="tooltip" data-placement="bottom" title="Enter a price">
        </div>

        
        <div class="form-group">
            <i class="material-icons">description</i>&nbsp;
            <label >Description
                <span  class="required">
                    *
                 </span>
            </label>
            <textarea name = "description" class ="form-control" 
            [(ngModel)] = "addbook.description" placeholder="Enter a description"
            data-toggle="tooltip" data-placement="bottom" title="Enter a description">
             </textarea>
        </div>
        
    
        

        <button  class = "btn btn-danger"  type="submit" data-toggle="tooltip" data-placement="bottom" title="Click here to Add Book"
        name="submit">Add Book
            <i class="material-icons right">send</i>
          </button>
    &nbsp;
    <button (click) = "back()" class = "btn btn-dark"data-toggle="tooltip" data-placement="bottom" title="Click here to go back" > Back
        <i class="material-icons">  arrow_back</i>
    </button>
 
 

    <br> 
    <br>
    </form>
    </div> 
    </div>