<br><h2  style="text-align:center;">Books Info</h2><br>
<button (click) = "back()" class = "btn btn-secondary" style="margin-left: 1380px"
data-toggle="tooltip" data-placement="bottom" title="Click here to go back"> Back</button>&nbsp;  
<br><br>
 <div class="row">
    <div *ngFor="let addbook of addbooks" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="card-img-top">
                <a href=""><img src= {{addbook?.image}}  alt=""   class="img-fluid rounded-rectangle w-10"  style="margin:5px; max-height:200px; max-width:200px;"></a>
             </div>

          </div>
          <ul class="list-group list-group-flush">

            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Book Name: {{addbook?.bookName}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Description: {{addbook?.description}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>Price : {{addbook?.price}}</li>
             <br>
             <button (click) = "updateAddbook(addbook.id)" class = "btn btn-warning"
             data-toggle="tooltip" data-placement="bottom" title="Click here to View Book details"> View</button>&nbsp;

                <button (click) = "deleteAddbook(addbook.id)" class = "btn btn-danger"
                data-toggle="tooltip" data-placement="bottom" title="Click here to Delete Book details"> Delete</button>
          </ul>

          </div>
          </div>
          </div>