<br><section class="about container bg-light">
    <br><h1 class="text-center mb-5">About Us</h1>
    <p>
        To us, every book matters. Every word. Every page. And every hand that helped build it. It’s how we craft remarkable and memorable books for readers around the world.
    </p>
    <p>
        Books World Company is a specialist independent publisher focusing on unique and valuable texts of authentic knowledge and powerful fresh stories. We publish around fifteen to thirty new titles each year including fiction and a broad range of general non fiction, academic and professional titles.
    </p>
 
<br><br>
<br><br>
<div class="follow text">
    Contact Us
    <a href="">9550499713</a>
    <a href="">7997064625</a>
   
<!-- 
    <div class="follow text-right"> -->
        Follow Us
        <a href="#facebook">Facebook</a>
        <a href="#youtube">Youtube</a>
        <a href="#instagram">Instagram</a>
        <a href="#twitter">Twitter</a>
    </div>
    <br>


</section>