<br><section class="about container bg-light">
    <br><h1 class="text-center mb-5">About Us</h1>
    <p>
        To us, every book matters. Every word. Every page. And every hand that helped build it. It’s how we craft remarkable and memorable books for readers around the world.
    </p>
    <h3>FAQ:</h3><br>

       <h5> How do I return an order?</h5>
       <p>
If you have received damaged, defective, or incorrectly shipped merchandise you may return it within 14 days of the delivery date for a full refund of the cost of the books returned including initial shipping costs. To ensure your package is returned correctly please include the return slip included at the bottom of your paper receipt. Return the package to the address indicated below and include and display the order number prominently on the slip and the packaging. Return postage is to be covered by the sender. If you have any further questions regarding your return please reach out to:<a href="#gmail"> booksworld@booksworld.com.</a></p>
 <br><h5>What will the shipping packaging from Booksworld look like?</h5>
   <p>Books shipped from Booksworld will arrive in simple packaging.</p>
<br>
<div class="follow text">
    Contact Us
    <a href="">9550499713</a>
    <a href="">7997064625</a>
   
<!-- 
    <div class="follow text-right"> -->
        Follow Us
        <a href="#facebook"data-toggle="tooltip" data-placement="bottom" title="Facebook">Facebook</a>
        <a href="#youtube"data-toggle="tooltip" data-placement="bottom" title="Facebook">Facebook</a>
        <a href="#instagram"data-toggle="tooltip" data-placement="bottom" title="Instagram">Instagram</a>
        <a href="#twitter"data-toggle="tooltip" data-placement="bottom" title="Twitter">Twitter</a>
    </div>
    <br>
    <button (click) = "back()" class = "btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="Click here to go back" > Back</button>&nbsp; 

</section>