<!-- //<div class="bg-info p-2 text-white bg-opacity-10"> -->
    <div class="alert alert-info" role="alert">
<br>
<section  class="col-md-8 offset-md-2">
    <mat-grid-list cols="4" rowHeight="fit" style="height:400px">
    <br><br><h1 class="text-center">About Us</h1>
    
    <mat-grid-tile>
      <div class="menu">
    <a (click) = "back()"  class="btn "  
    data-toggle="tooltip" data-placement="bottom" title="Click here to go back"> 
    <i class="material-icons">arrow_back</i>&nbsp;</a>
</div>
        
   </mat-grid-tile>
  
    <mat-grid-tile colspan="4">
        To us, every book matters. Every word. Every page. And every hand that helped build it. It`s how we craft remarkable and memorable books for readers around the India.
    </mat-grid-tile>

    <mat-grid-tile colspan="4">
        If you have received damaged, defective, or incorrectly shipped merchandise you may return it within 14 days of the delivery date for a full refund of the cost of the books returned including initial shipping costs. To ensure your package is returned 
correctly please include the return slip included at the bottom of your paper receipt. Return the package to the address indicated below and include and display the order number prominently on the slip and the packaging. Return postage is to be covered by the sender. 

    </mat-grid-tile>

    <mat-grid-tile colspan="4">
        If you have any further questions regarding your return please reach out to:
   &nbsp; <a href="https://mail.google.com/"data-toggle="tooltip" data-placement="bottom" title="gmail" class="gmail"> booksworld@booksworld.com.</a>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" class="follow text">
        Contact Us
        <a href="">9550499713</a>
        <a href="">7997064625</a>
    
        Follow Us
        <a href="facebook"data-toggle="tooltip" data-placement="bottom" title="Facebook">Facebook</a>
        <a href="youtube"data-toggle="tooltip" data-placement="bottom" title="Youtube">Youtube</a>
        <a href="instagram"data-toggle="tooltip" data-placement="bottom" title="Instagram">Instagram</a>
        <a href="twitter"data-toggle="tooltip" data-placement="bottom" title="Twitter">Twitter</a>
    </mat-grid-tile>
    </mat-grid-list>
    <br>
</section>
&nbsp;
</div>





<!-- <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div> -->