<div class="alert alert-info" role="alert">
<br><div class="col-md-6 offset-md-3">&nbsp;
    <br><h2 style=text-align:center;> Update Order Info</h2><hr>
 <br>
    <form (ngSubmit) = "onSubmit()">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Book Name</label>
            <input type="text" class="form-control" id="bookName" name="bookName"
            data-toggle="tooltip" data-placement="bottom" title="Your Selected Book Name"
            [(ngModel)] = "buynow.bookName" disabled>  
        </div>


          <div class="form-group col-md-6">
            <label >User Name</label>
            <input type="text" class="form-control" id="userName" name="userName"
            data-toggle="tooltip" data-placement="bottom" title="Your User Name"
            [(ngModel)] = "buynow.userName" disabled>
          </div>
        </div>


        <div class="form-group">
            <label for="emailId" class="control-label"> Email Id</label>
            <input  id = "emailId" name="emailId"  (input)="validateemailId()"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             data-toggle="tooltip" data-placement="bottom" title="Your Email"
             #emailId="ngModel" [(ngModel)] = "buynow.emailId"  type="email" class ="form-control" disabled>
            <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
               <span class="help-block btn-danger" *ngIf=errors.emailId>
                    Please Input a Valid Email Id
                </span>
                
        </div>

        <div class="form-row">
        <div class="form-group col-md-4">
          <label >Price</label>
          <input type="text" class="form-control" id="price" name="price"
          data-toggle="tooltip" data-placement="bottom" title="Your Selected Book Price"
          [(ngModel)] = "buynow.price" disabled>
        </div>
      

    
        <div class="form-group col-md-4">
            <label >Address</label>
            <input type="text" class="form-control"  id = "address" name="address"
            data-toggle="tooltip" data-placement="bottom" title="Update address"
            [(ngModel)] = "buynow.address">
          
      </div>

        
        <div class="form-group col-md-4">
            <label >Phone Number</label>
            <input type="tel" class="form-control"  pattern="^\d{3}-\d{3}-\d{4}$" id = "phoneNumber" name="phoneNumber"
            data-toggle="tooltip" data-placement="bottom" title="Update Phone Number"
            [(ngModel)] = "buynow.phoneNumber">
            
          </div>
          </div>
        
          <div class="form-row">
          <div class="form-group col-md-4">
            <label for="state">State</label>
            <select class="form-control" id="state" name="state" [(ngModel)] = "buynow.state"
            data-toggle="tooltip" data-placement="bottom" title="Update State">
                
                <option>--none--</option>
              <option>Andhra Pradesh</option>
              <option> Arunachal Pradesh</option>
              <option>Assam</option>
              <option>Bihar</option>
              <option>Chhattisgarh</option>
              <option>Goa</option>
              <option>Gujarat</option>
              <option>Haryana</option>
              <option>Himachal Pradesh</option>
              <option> Jammu and Kashmir</option>
              <option>Jharkhand</option>
              <option>Karnataka</option>
              <option>Kerala</option>
              <option>Madhya Pradesh </option>
              <option>Maharashtra </option>
              <option>Manipur</option>
              <option>Meghalaya</option>
              <option>Mizoram</option>
              <option>Nagaland</option>
              <option>Odisha</option>
              <option>Punjab</option>
              <option>Rajasthan</option>
              <option>Sikkim</option>
              <option> Tamil Nadu</option>
              <option>Telangana</option>
              <option>Tripura</option>
              <option> Uttar Pradesh</option>
              <option>Uttarakhand</option>
              <option>West Bengal</option>
            

            </select>
          </div>
        

      
          <div class="form-group col-md-4">
            <label>City</label>
    <input type="text" id="city" name="city"   class ="form-control"  [(ngModel)] = "buynow.city"
     data-toggle="tooltip" data-placement="bottom" title="Update City">
          </div>
        

          <div class="form-group col-md-4">
            <label >Zip-Code</label>
        <input type="tel" class="form-control" id = "zipCode" name="zipCode"  
        [(ngModel)] = "buynow.zipCode" data-toggle="tooltip" data-placement="bottom" title="Update Zip-Code">
          </div>
          </div>
          <br>

        <button class = "btn btn-danger" type ="submit"
        data-toggle="tooltip" data-placement="bottom" title="Click here to Update">Update</button>&nbsp;
    
        
        <button href="buynowlist" class = "btn btn-dark"
        data-toggle="tooltip" data-placement="bottom" title="Click here to go back"> Back</button>&nbsp;
    </form>
    </div>
    </div>