<br>
<br>&nbsp;
<div class="dropdown"><button data-toggle="tooltip" data-placement="bottom" title="Click here to View Admin Panel"class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Admin Panel View
</button>&nbsp;
<br><br>
<div class = "item">&nbsp;
  <a href="home" routerLinkActive="active" class="btn btn-danger"data-toggle="tooltip" data-placement="bottom" title="Please Logout ">Logout</a>
  </div>&nbsp;

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<div class = "item">&nbsp;
  <a href="addbook" routerLinkActive="active" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click here to Add a Book">Add Book</a>
  </div>&nbsp;

  &nbsp;
<div class = "item">&nbsp;
  <a href="addbooklist" routerLinkActive="active" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click here to View Books" >Books List</a>
  </div>&nbsp;

&nbsp;
<div class = "item">&nbsp;
  <a href="users" routerLinkActive="active" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click here to View Registered Users">Registered User</a>
</div>&nbsp;

<div class = "item">&nbsp;
<a href="buynowlist" routerLinkActive="active" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click here to view ordered User" >Ordered User</a>
</div>&nbsp;




</div>


