
      <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" routerLink=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
    
        <div class="collapse navbar-collapse primary" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item ">
             
                <a href="addbook" routerLinkActive="active" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click here to Add a Book">Add Book</a>
              
            </li>&nbsp;
             
          <li class = "nav-item">
            <a href="addbooklist" routerLinkActive="active" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click here to View Books" >Books List</a>
        </li>&nbsp;
           
        <li class = "nav-item">
          <a href="users" routerLinkActive="active" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click here to View Registered Users">Registered User</a>
      </li>&nbsp;

      <li class = "nav-item">
        <a href="buynowlist" routerLinkActive="active" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Click here to view ordered User" >Ordered User</a>
    </li>&nbsp;



      <div class = "item">&nbsp;
        <a href="home" routerLinkActive="active" class = "btn btn-danger btn-sm " data-toggle="tooltip" data-placement="bottom" title="Please Logout ">
          <i class="material-icons"> settings_power</i>
        </a>
        </div>&nbsp;


</ul>
</div>
</nav>

<div class="log">
  <a><img src="../../assets/ad.png"></a>
  </div>








