&nbsp;
<div class = "item">&nbsp;
  <a href="addbook" routerLinkActive="active" class="btn btn-info" >Add Book</a>
  </div>&nbsp;

  &nbsp;
<div class = "item">&nbsp;
  <a href="addbooklist" routerLinkActive="active" class="btn btn-info" >Books List</a>
  </div>&nbsp;

&nbsp;
<div class = "item">&nbsp;
  <a href="users" routerLinkActive="active" class="btn btn-info" >Registered User</a>
</div>&nbsp;

<div class = "item">&nbsp;
<a href="buynowlist" routerLinkActive="active" class="btn btn-info" >Ordered User</a>
</div>&nbsp;


<div class = "item">&nbsp;
  <a href="home" routerLinkActive="active" class="btn btn-danger" >Logoff</a>
  </div>&nbsp;

