<html>

<head>
  <link rel="stylesheet" href="login.component.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Login page</title>

</head>



<body>

  <section class="login-page">

    <div id="container-background">

      <div id="container">
        <!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Welcome...!</strong> You have sucessfully logged in.
          <button (click)="goToNextPage()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="main">

          <p class="sign" >Login here!</p>

         
            <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" required>
            <input class="em " title="Enter your email id" type="text"  formControlName="emailId" placeholder="Email"  required>
           
            
      
            <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small><br>
            <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('emailId')?.errors?.required && reactiveForm.get('emailId')?.touched">Email
              is required</p>
              
          <p class="err" style="font-size:13px;"
          *ngIf="reactiveForm.get('emailId')?.errors?.pattern" align="center">please input a valid format</p>
          
    


            <input class="pass"  title="Enter your password" type="text" formControlName="password" placeholder="Password"  required>
            <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.required && reactiveForm.get('password')?.touched" >Password
              is required</p>
              <p  class ="err"style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.minlength" align="center">Please Input a Valid Password</p>


          
              <button class="submit" title="click here to Login" input type="submit" value="Submit"  [disabled]="!reactiveForm.valid" align="center">Login</button>
            
            <br>
            <br>
              <button  class="back" (click) = "back()" data-toggle="tooltip" data-placement="bottom" title="Click here to go back"> Back</button>
          

<br>
<br>
<div class="text-center">
              <h3>Don't have an account?
              <a href="create-user"class="create" data-toggle="tooltip" data-placement="bottom" title="Click here to register!">Register Now
                <i class="material-icons">person_pin</i>
            </a>
             </h3>

          </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</body>

</html>