&nbsp;
<div class="alert alert-info" role="alert">
<br><br><div class="col-md-4 offset-md-4">
    <br><h2 style="text-align:center;"> Login Here</h2>
    <hr>


    <form (ngSubmit) = "onSubmit()">
        <div class="log">
            <a><img src="../../assets/admin.png" class="rounded-pill" alt=""
                data-toggle="tooltip" data-placement="bottom" title="Login Here"></a>
            &nbsp;
            </div>
        <div class="form-group">
            <label for="emailId" class="control-label"> Email Id</label>
            <input  id = "emailId" name="emailId"  (input)="validateemailId()" placeholder="Enter Your Email Id" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             #emailId="ngModel" [(ngModel)] = "login.emailId"  type="email" class ="form-control"
             data-toggle="tooltip" data-placement="bottom" title="Enter Your Email Id" >
            <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
               <span class="help-block btn-danger" *ngIf=errors.emailId>
                    Please Input a Valid Email Id
                </span>
                
        </div>
        <hr>

        <div class="form-group">
            <label> Password</label>
            <input type="password"  placeholder="Enter Your Password" class ="form-control" id = "password" name="password" minlength="8"
                [(ngModel)] = "login.password" data-toggle="tooltip" data-placement="bottom" title="Enter Your Password">
            </div>
    <hr>
        <button class = "btn btn-danger" type ="submit" data-toggle="tooltip" data-placement="bottom" title="Click here to Login">Login</button>&nbsp;
        <button (click) = "back()" class = "btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="Click here to go Back"> Back</button>&nbsp; 
<br><br>
    <a href="create-user"class="create" data-toggle="tooltip" data-placement="bottom" title="Click here to register!">Click here to register!</a>

       

    
    </form>&nbsp;
    </div> 
    </div>
    
