<div class="col offset">

<br><h2 style="text-align:center;">All Books</h2><br>
<button (click) = "logout()" class = "btn btn-success" style="margin-left: 1200px" data-toggle="tooltip" data-placement="bottom" title="please logout"> Logout</button><br><br>

 <div class="row">
    <div *ngFor="let addbook of addbooks" class="col-md-5 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="card-img-top">
                <a href=""><img src= {{addbook.image}}  alt=""   class="img-fluid rounded-rectangle w-10"  style="margin:5px; max-height:200px; max-width:200px;"></a>
    
            </div>

          </div>
          <ul class="list-group list-group-flush">

            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Book Name: {{addbook.bookName}}</li>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Description: {{addbook.description}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>Price : {{addbook.price}}</li>
          </ul>
          <a class="btn btn-danger" (click)="onbuynow(addbook.bookName)" data-toggle="tooltip" data-placement="bottom" title="Click here to Buy">Buy Now</a>

          </div>
          </div>
          </div>
          </div>