<h3> View Buyer Info</h3>
<div class=bg-light;>
    <div>
        <label> <b> Book Name: </b></label> {{buynow.bookName}}
    </div>
    <div>
        <label> <b> User Name: </b></label> {{buynow.userName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{buynow.emailId}}
    </div>
    <div>
        <label> <b> phoneNumber: </b></label> {{buynow.phoneNumber}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{buynow.address}}
    </div>
    <div>
        <label> <b> State: </b></label> {{buynow.state}}
    </div>
    <div>
        <label> <b> City: </b></label> {{buynow.city}}
    </div>
    <div>
        <label> <b> Zip-Code: </b></label> {{buynow.zipCode}}
    </div>
</div>