.message
{
        position:below;
        color:black;
        top: 30%;
        left:50%;
        
}
.log img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}