<html>

<head>
  <link rel="stylesheet" href="create-user.component.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />


</head>



<body>

  <section class="register-page">

    <div id="container-background">

      <div id="container">
     
        <div class="main">

          <p class="sign" >Register Now!</p>
          <br>

         
            <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" required>
            <input class="em " title="Enter your First Name" type="text" formControlName="firstName" placeholder="First Name"  required>
           
            <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('firstName')?.errors?.required && reactiveForm.get('firstName')?.touched">First Name is required</p>
              
          <p class="err" style="font-size:13px;"
          *ngIf="reactiveForm.get('firstName')?.errors?.minlength" align="center">minimum length 5 characters</p>

              
       
              <input class="em " title="Enter your Last Name" type="text" formControlName="lastName" placeholder="Last Name"  required>
           
              <p class="error-msg" style="font-size:13px;"
                *ngIf="reactiveForm.get('lastName')?.errors?.required && reactiveForm.get('lastName')?.touched">Last Name
                is required</p>

                <p class="err" style="font-size:13px;"
                *ngIf="reactiveForm.get('lastName')?.errors?.minlength" align="center">minimum length 5 characters</p>

                    
                
         
        <input class="em " title="Enter your gender" type="text" formControlName="gender" placeholder="Gender"  required>

        
           
        <p class="error-msg" style="font-size:13px;"
          *ngIf="reactiveForm.get('gender')?.errors?.required && reactiveForm.get('gender')?.touched">Gender
          is required</p>
          <p class="err" style="font-size:13px;"
          *ngIf="reactiveForm.get('gender')?.errors?.minlength" align="center">Please Enter your gender </p>

     
          <input class="em " title="Enter your email id" type="text"formControlName="emailId" placeholder="Email"  required>
             
        <p class="err" style="font-size:13px;"
        *ngIf="reactiveForm.get('emailId')?.errors?.pattern" align="center">Please Enter Valid Format </p>

          <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small><br>
          <p class="error-msg" style="font-size:13px;"
            *ngIf="reactiveForm.get('emailId')?.errors?.required && reactiveForm.get('emailId')?.touched">Email Id
            is required</p>
      
     
              

         
            <input class="pass"  title="Enter your password" type="text" formControlName="password" placeholder="Password"  required>
            <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.required && reactiveForm.get('password')?.touched" >password is required</p>
             
              <p class="err" style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.pattern" align="center"> Please Enter Valid Format
              <br>
              <br><p class="mess">
              at least one uppercase letter<br>
              at least one lowercase letter<br>
              at least one number(no matter the order)<br>
              Minimum 8 characters</p></p>
                  
           
          
              <button class="submit" title="click here to Login" input type="submit" value="Submit"  [disabled]="!reactiveForm.valid" align="center">Register</button>
            
            <br>
            <br>
              <button  class="back" (click) = "back()" data-toggle="tooltip" data-placement="bottom" title="Click here to go back"> Back</button>
          

          </form>
        </div>
      </div>
    </div>
  </section>

</body>

</html>