<html>

  <head>
    <title>Admin login</title>
  </head>

  <body>


    <div class="container" id="container">


      <div class="form-container sign-in-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" required>
          <h1 class="heading1">Admin login</h1>

          <input type="email" title="Enter Admin Email Id"  type="text" align="center" formControlName="emailId" placeholder="Email" required />
          <p class="error-msg" style="font-size:13px;"
          *ngIf="reactiveForm.get('emailId')?.errors?.required && reactiveForm.get('emailId')?.untouched && reactiveForm.get('emailId')?.touched"
          align="center">Email
          is required</p>
          <p class="err" style="font-size:13px;"
          *ngIf="reactiveForm.get('emailId')?.errors?.pattern" align="center">Please Input a Valid Format</p>
          
    


          <input type="password"  title="Enter Admin Password" type="password" align="center" formControlName="password" placeholder="Password" required />
          <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.required && reactiveForm.get('password')?.untouched && reactiveForm.get('password')?.touched"
              align="center">Password
              is required</p>
              <p class=" err" style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.minlength" align="center">Please Input a Valid Password</p>
     


          <button class="submit" title="Click here to login" type="submit"  [disabled]="!reactiveForm.valid">Login</button>

          <button (click) = "back()"data-toggle="tooltip" data-placement="bottom" title="Click here to go back"> Back</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">

          <div class="overlay-panel overlay-right">
            <h1>Hello, Admin!</h1>
            <p>Please enter your details to login.</p>

          </div>
        </div>
      </div>
    </div>
  </body>

  </html>