<div class="alert alert-info" role="alert">
<br><br><div class="col-md-4 offset-md-4 ">
    <br><h2 style="text-align:center;"> Admin Login </h2><hr>
    <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">

        Successfully Login!

        <button (click)="closeAlert()"type="button" class="close" data-dismiss="alert" aria-label="Close">

          <span aria-hidden="true">&times;</span>

        </button>

      </div>

   <form (ngSubmit) = "onSubmit()">
        <div class="log">
            <a><img src="../../assets/admin.png"  class="rounded-pill" alt=""
                data-toggle="tooltip" data-placement="bottom" title="Admin Here"></a>
            &nbsp;
</div>
        <div class="form-group">
            
            <label for="emailId" class="control-label"> Email Id</label>
            <input  id = "emailId" name="emailId"  (input)="validateemailId()" placeholder="Enter Your Email Id" pattern="^[a-z0-9._%+-]+@booksworld.com$"
             #emailId="ngModel" [(ngModel)] = "admin.emailId"  type="email" class ="form-control"
              data-toggle="tooltip" data-placement="bottom" title="Enter Your Email Id">
            <small id="emailHelp" class="form-text">Admin email id is required.</small>
               <span class="help-block btn-danger" *ngIf=errors.emailId>
                    Please Input a Valid Email Id
                </span>
                
        </div>

        <div class="form-group">
            <label for="password" class="control-label"> Password</label>
            <input type="password"  placeholder="Enter Your Password" class ="form-control" (input)="validatepassword()" id = "password" name="password"  minlength="7"
            #password="ngModel" [(ngModel)] = "admin.password" data-toggle="tooltip" data-placement="bottom" title="Enter Your Password">
                <span class="help-block btn-danger" *ngIf=err.password>
                    Please Input a Valid Password
                </span>
            
        </div>
    
    <hr>
        <button class = "btn btn-danger" type ="submit" data-toggle="tooltip" data-placement="bottom" title="Click here to Login">Login</button>&nbsp; 
        <button (click) = "back()" class = "btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="Click here to go Back"> Back</button>&nbsp; 
    </form>&nbsp;
    </div> 
    
    </div>
    
