<div class="alert alert-info" role="alert">
<br><div class="col-md-4 offset-md-4">
    <h2 style="text-align:center;"> Update Book Info</h2><hr>
    <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
            <i class="material-icons">book</i>&nbsp;
            <label> Book Name</label>
            <input type="text" class ="form-control" id = "bookName"
                [(ngModel)] = "addbook.bookName" name = "bookName"
                data-toggle="tooltip" data-placement="bottom" title="Enter a Book Name">
        </div>
    
        <div class="form-group">
            <i class="material-icons ">insert_link</i>&nbsp;
            <label> Image </label>
            <input type="text" class ="form-control" id = "image" 
                [(ngModel)] = "addbook.image" name = "image"
                data-toggle="tooltip" data-placement="bottom" title="Enter a Image URL">
        </div>


        <div class="form-group">
            <i class="material-icons">monetization_on</i>&nbsp;
            <label> Price </label>
            <input type="text" class ="form-control" id = "price" 
                [(ngModel)] = "addbook.price" name = "price"
                data-toggle="tooltip" data-placement="bottom" title="Enter a Price">
        </div>

       
        <div class="form-group">
            <i class="material-icons">description</i>&nbsp;
            <label >Description</label>
            <textarea name = "description" class ="form-control" 
            [(ngModel)] = "addbook.description"
            data-toggle="tooltip" data-placement="bottom" title="Enter a description">
             </textarea>
        </div>
<hr>

    
        <button class = "btn btn-danger" type ="submit"
        data-toggle="tooltip" data-placement="bottom" title="Click here to Update">Update
        <i class="material-icons"> cached</i></button>&nbsp;

        <button href="addbook" class = "btn btn-dark"
        data-toggle="tooltip" data-placement="bottom" title="Click here to go back"> Back
        <i class="material-icons"> arrow_back</i></button>&nbsp;
    </form>
    <br>
    </div> 
    </div>