<br><h2>Registered User Info</h2>
<button (click) = "back()" class = "btn btn-secondary" style="margin-left: 1150px"> Back</button>&nbsp;    
<br><br>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Gender</th>
            <th> Email Id</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users" >             
            <td> {{ user.firstName }} </td>
            <td> {{ user.lastName }} </td>
            <td> {{ user.gender }} </td>
            <td> {{ user.emailId }} </td>
            <td>
                <button (click) = "updateUser(user.id)" class = "btn btn-warning" style="margin-left: 10px"> View</button>&nbsp;           
                <button (click) = "deleteUser(user.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>